In [45]:
import pandas as pd
import numpy as np

## Fayllarni o'qish
`pandas` kutubxonasi fayllar bilan ishlaydigan bir nechta funksiyalardan iborat.

`read_csv` - vergul bilan ajratilgan jadval fayllarni o'qish uchun

`read_table` - probel (bo'sh joy) bilan ajratilgan jadval fayllarni o'qish uchun

`read_excel` - `xls` yoki `xlsx` formatidagi **Excel** fayllarni o'qish uchun

`read_clipboard` - ko'chirilgan (xotiradagi) jadvalni o'qish

`read_hdf` - `HDF5` formatidagi fayllarni o'qish

`read_html` - HTML (web) sahifadagi barcha jadvallarni o'qish

`read_json` - `JSON` ma'lumotlarni o'qish

`read_pickle` - pickle formatidagi fayllarni o'qish

`read_sql` - SQL query dan qaytgan ma'lumotlarni o'qish (SQLAlchemy bilan ishlayd)

In [6]:
df=pd.read_csv("sample_data/california_housing_test.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [9]:
df1=pd.read_excel("uzb.xlsx", index_col=0, names =['Hudud', 'Maydon', 'Aholi'])

In [14]:
df1.to_csv("newuzb.csv")

In [17]:
obj = df1.Hudud

In [18]:
obj

NaN                              NaN
NaN                       bo'linishi
NaN                 Andijon viloyati
NaN                       Buxoro vil
NaN                    Fargo'ona vil
NaN                       Jizzax vil
NaN                      Xoramiz vil
NaN                     Namangan vil
NaN                       Navoiy vil
NaN                  Qashqadaryo vil
NaN    Qoraqalpoqistion Respublikasi
NaN                     Samaqand vil
NaN                     Sirdaryo vil
NaN                  Surxondaryo vil
NaN                     Toshkent vil
Name: Hudud, dtype: object

In [28]:
from numpy.core.fromnumeric import squeeze
obj.to_csv("uzbhudud.csv")

In [29]:
pd.read_csv("uzbhudud.csv" ,index_col='Hudud')

                               Unnamed: 0
Hudud
NaN                                   NaN
bo'linishi                            NaN
Andijon viloyati                      NaN
Buxoro vil                            NaN
Fargo'ona vil                         NaN
Jizzax vil                            NaN
Xoramiz vil                           NaN
Namangan vil                          NaN
Navoiy vil                            NaN
Qashqadaryo vil                       NaN
Qoraqalpoqistion Respublikasi         NaN
Samaqand vil                          NaN
Sirdaryo vil                          NaN
Surxondaryo vil                       NaN
Toshkent vil                          NaN

# HDF5 formati

In [30]:
hdfobj = pd.HDFStore("data.h5")

In [34]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [38]:
hdfobj.put("uzdata",df1) # df1 degan datamizni HDF5 ga aylantirdik

In [39]:
hdfobj.put("cardata", df) # df degan datani boyagiga qoshdik

In [41]:
hdfobj.keys() # hdf ichida ikkita data mavjud

['/cardata', '/uzdata']

In [42]:
hdfobj['uzdata'] # lugatga murojaat qilgandek

                             Hudud   Maydon    Aholi
NaN                            NaN  maydoni  aholisi
NaN                     bo'linishi      NaN      NaN
NaN               Andijon viloyati     4200  1899000
NaN                     Buxoro vil    39400  1348700
NaN                  Fargo'ona vil     6800  2597000
NaN                     Jizzax vil    20500   910500
NaN                    Xoramiz vil     6300  1200000
NaN                   Namangan vil     7900  1862000
NaN                     Navoiy vil   110800   767500
NaN                Qashqadaryo vil    28400  2029000
NaN  Qoraqalpoqistion Respublikasi   160000  1200000
NaN                   Samaqand vil    16400  2322000
NaN                   Sirdaryo vil     5100   648100
NaN                Surxondaryo vil    20800  1676000
NaN                   Toshkent vil    15300  4450000

In [43]:
hdfobj['cardata']

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [44]:
hdfobj.close() # hdf objektni yopamiz

In [47]:
pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/merc.csv")

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0
...,...,...,...,...,...,...,...,...,...
13114,C Class,2020,35999,Automatic,500,Diesel,145,55.4,2.0
13115,B Class,2020,24699,Automatic,2500,Diesel,145,55.4,2.0
13116,GLC Class,2019,30999,Automatic,11612,Diesel,145,41.5,2.1
13117,CLS Class,2019,37990,Automatic,2426,Diesel,145,45.6,2.0
13118,S Class,2019,54999,Automatic,2075,Diesel,145,52.3,2.9

# Web sahifalardan ma'lumot olish

In [48]:
# tash = pd.read_html(websayt url va malumotlarni yozish kerak)

#JSON malumotlarini o'qish